@media screen and (min-width: 768px) {
    .form__subtitle{
        margin-bottom: 20px;
        font-weight: 600;
    }

    .form__group .form__group-line:not(:last-of-type){
        margin-bottom: 20px;
    }

    .form__group-line.form__group-line--d-3{
        flex-direction: row;
        margin-left: -10px;
        margin-right: -10px;
    }
    .form__group-line.form__group-line--d-3 .form__group-item{
        width: calc(100% / 3 - 20px);
        margin: 0 10px;
    }
}