
.form__subtitle{
    font-size: 16px;
    margin-bottom: 15px;
}

.form__group:not(:last-of-type){
    margin-bottom: 30px;
}

.form__group .form__group-line:not(:last-of-type){
    margin-bottom: 10px;
}

.form__group-line:not(.grid){
    display: flex;
    flex-direction: column;
}

.form__group-line.form__group-line--m-1 .form__group-item{
    width: 100%;
    margin-bottom: 10px;
}

.form__group-line.form__group-line--m-1 .form__group-item:last-of-type{
    margin-bottom: 0;
}

.form__group-line.form__group-line--m-2{
    flex-direction: row;
    margin-left: -10px;
    margin-right: -10px;
}

.form__group-line.form__group-line--m-2 .form__group-item{
    width: calc(100% / 2 - 20px);
    margin: 0 10px;
}

.form__group-line .form__group-item:not(:last-of-type){
    margin-bottom: 10px;
}
.form__group-line.grid .form__group-item, .form__group-line.form__group-line--custom-grid .form__group-item{
    margin-bottom: 0px;
}


.form__action{
    margin-top: 30px;
    display: flex;
}

.form__error-text{
    color: #FB4E4E;
    font-size: 12px;
}

.form__error-text.form__error-text--center{
    text-align: center;
}

