@media screen and (min-width: 740px) {
    .xxx-answer-form {
        max-width: 500px;
        margin: 0 auto;
    }

    .xxx-answer-form__title {
        font-size: 22px;
        line-height: 26px;
    }

    .xxx-answer-form__btn--mt {
        margin-top: 40px;
    }

    .xxx-answer-form__btn {
        width: auto;
    }

    .xxx-answer-form__bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .xxx-answer-form__bottom .xxx-answer-form__btn {
        width: calc(50% - 10px);
        padding: 10px;
    }

    .xxx-answer-form__bottom .xxx-answer-form__btn:last-child {
        margin-top: 0;
    }
}