.xxx-answer-form {
    padding: 40px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.xxx-answer-form--high .xxx-answer-form__color {
    color: #95CE5A;
}

.xxx-answer-form--middle .xxx-answer-form__color {
    color: #F3B30E;
}

.xxx-answer-form__list--middle .xxx-answer-form__list-item {
    color: #F3B30E;
}

.xxx-answer-form__list--middle .xxx-answer-form__list-item:before {
    content: "\e968";
    color: #F3B30E;
}

.xxx-answer-form--low .xxx-answer-form__color {
    color: #F5372B;
}

.xxx-answer-form__list--low .xxx-answer-form__list-item {
    color: #F5372B;
}

.xxx-answer-form__list--low .xxx-answer-form__list-item:before {
    content: "\e916";
    color: #F5372B;
}

.xxx-answer-form__title {
    padding-bottom: 10px;
    color: #333E50;
    font-size: 20px;
    line-height: 24px;
    font-family: 'lato black', sans-serif;
    text-align: center;
}

.xxx-answer-form__title--high {
    text-transform: uppercase;
}

.xxx-answer-form__text {
    font-size: 18px;
    line-height: 27px;
    color: #333E50;
    text-align: center;
}

.xxx-answer-form__list {
    padding-left: 0;
}

.xxx-answer-form__list-item {
    color: #333E50;
    font-size: 18px;
    line-height: 22px;
    padding-left: 30px;
    position: relative;
    list-style: none;
}

.xxx-answer-form__list-item:before {
    content: '\e923';
    font-family: 'bankiros';
    position: absolute;
    left: 0;
    top: 0;
    color: #95CE5A;
}

.xxx-answer-form__btn {
    width: 100%;
    font-size: 18px;
}

.xxx-answer-form__bottom {
    width: 100%;
    padding-top: 30px;
}

.xxx-answer-form__bottom .xxx-answer-form__btn:last-child {
    margin-top: 20px;
}

.xxx-answer-form__btn--mt {
    margin-top: 30px;
}