input:focus {
    border: 1px solid #00bee7;
    outline: 0;
}

input.xxx-g-input:not([readonly]):focus {
    border-bottom: 1px solid #00bee7 !important;
}

input:disabled, select:disabled {
    background: #dddddd;
}

.xxx-g-input-slider {
    width: 100%;
    padding: 12px;
    background-color: white;
    border: 1px solid #eceef2;
    border-radius: 3px;
    outline: none;
    font-size: 16px;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
}


.xxx-g-input {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 44px;
    border-radius: 3px;
    border: 1px solid #eceef2;
    font-size: 16px;
    padding: 10px;
    padding-right: 30px;
    background-color: white;
    outline: none;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.xxx-g-input::-webkit-input-placeholder {
    color: #f1f4f7;
}

.xxx-g-input::-moz-placeholder {
    color: #f1f4f7;
}

.xxx-g-input:-ms-input-placeholder {
    color: #f1f4f7;
}

.xxx-g-input::-ms-input-placeholder {
    color: #f1f4f7;
}

.xxx-g-input::placeholder {
    color: #f1f4f7;
}

.xxx-g-input:hover {
    border-color: #c4c4c4;
}

input.xxx-g-input:focus {
    outline: 0;
    border-color: #00bee7;
    border-bottom: 1px solid #00bee7 !important;
    background-color: #fff;
}

.xxx-valid-input.error::before {
    content: '\e916';
    font-family: 'bankiros';
    font-size: 10px;
    position: absolute;
    right: 12px;
    top: 50%;
    color: #ec1d25;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important;
    -webkit-text-fill-color: #999 !important;
    color: #999 !important;
}

.xxx-g-input-error {
    color: #ec1d25;
    margin-top: 10px;
}

.xxx-g-input--search {
    padding: 17px 15px 15px 30px;
}

.xxx-g-input-group__cell.xxx-df.sms__block.xxx-ai--c {
    align-items: flex-start;
}