
.xxx-valid-input.error::before {
    content: '\e916';
    font-family: 'bankiros';
    font-size: 10px;
    position: absolute;
    right: 12px;
    top: 50%;
    color: #ec1d25;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.xxx-valid-input.valid::after {
    /*content: '\e923';*/
    font-family: 'bankiros';
    font-size: 13px;
    position: absolute;
    right: 12px;
    top: 50%;
    color: #7cc576;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}


.xxx-valid-input.error .xxx-g-input,
.xxx-valid-input.error .selectric {
    border-color: #ec1d25;
}

.xxx-valid-input.error .xxx-g-input-label,
.xxx-valid-input.error .xxx-g-select-label {
    color: #ec1d25;
}
