.xxx-request-loan .wrapper-checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 52px;
    padding-bottom: 0;
}

.xxx-request-loan .magic-checkbox {
    position: absolute;
    display: none;
}

.xxx-request-loan .magic-checkbox + label {
    position: relative;
    display: block;
    margin-left: 30px;
    padding-left: 0;
    cursor: pointer;
    vertical-align: middle;
    color: #272727;
}

.xxx-request-loan .magic-checkbox + label::after {
    position: absolute;
    display: none;
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 2px solid #00bee7;
    border-top: 0;
    border-left: 0;
    top: 0;
    left: 6px;
    width: 8px;
    height: 13px;
    background: white;
    -webkit-box-shadow: 3px 0px white;
    box-shadow: 3px 0px white;
}

.xxx-request-loan .magic-checkbox + label::before {
    position: absolute;
    top: 3px;
    left: 0px;
    display: inline-block;
    content: "";
    background-color: #ffffff;
    border: 2px solid #abb0b9;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.xxx-request-loan .magic-checkbox + label:hover:before {
    -webkit-animation: none;
    animation: none;
}

.xxx-request-loan :checked.magic-checkbox + label::after {
    display: block;
}

.xxx-request-loan :checked.magic-checkbox + label::before {
    background-color: #ffffff;
    border: 2px solid #abb0b9;
}


.xxx-g-checkbox {
    display: none;
}

.xxx-g-checkbox__custom {
    position: relative;
    width: 25px;
    height: 25px;
    border: 1px solid #dadee2;
    border-radius: 5px;

    -webkit-transition: all 0.45s;
    -o-transition: all 0.45s;
    transition: all 0.45s;
}

.xxx-g-checkbox__custom,
.xxx-g-checkbox__label {
    display: inline-block;
    vertical-align: middle;
}

.xxx-g-checkbox_label {
    font-size: 14px;
    margin-left: 5px;
}

.xxx-g-checkbox:checked + .xxx-g-checkbox__custom {
    border: 1px solid #55a3ed;
    background-color: #55a3ed;
}

.xxx-g-checkbox:checked + .xxx-g-checkbox__custom::before {
    content: '\e923';
    font-family: 'bankiros';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff;
}


.xxx-g-checkbox:checked + .xxx-g-checkbox__custom {
    border: 1px solid #55a3ed;
    background-color: #55a3ed;
}

.xxx-request-loan .magic-checkbox-wrapp label:before {
    left: -30px;
}

.xxx-request-loan .magic-checkbox-wrapp label:after {
    left: -24px;
}

.xxx-request-loan .xxx-g-checkbox_label.d-inline {
    display: inline;
}

.xxx-request-loan .magic-checkbox.magic-checkbox--blue:not(:checked) + label:hover:before {
    border: 2px solid #55A3ED;
}

.magic-checkbox.magic-checkbox--blue ~ label,
.magic-checkbox.magic-checkbox--blue ~ span > a {
    font-size: 16px;
    display: inline;
}