
.help-block {
    margin-bottom: 0;
    color: #ED2C35 !important;
    position: static;
    font-size: 12px !important;
    line-height: 14px;
    margin-top: 3px;
}

.xxx-valid-input .help-block {
    min-height: unset;
}

@media screen and (max-width: 768px) {
    .wrapper-input--help-text-pos .help-block {
        bottom: unset;
        top: 47px;
    }
}