@media screen and (min-width: 991px){
    .short-converter {
        padding: 20px;
    }
    .short-converter__subtitle {
        font-size: 14px;
    }

    .short-converter__tab {
        font-size: 18px;
    }

    .short-converter__input {
        font-size: 20px;
    }

    .short-converter__switch {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}