/*.select2-custom{*/
/*    position: relative;*/
/*    z-index: 9;*/
/*}*/

.select2-custom .select2 .select2-selection{
    box-shadow: none!important;
    height: 44px;
    border: 1px solid #CBCED5;
    border-radius: 3px;
    padding: 5px 10px;
    background-color: #fff;
    transition: border-color .25s;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.has-error .select2-custom .select2 .select2-selection{
    border-color: #FB4E4E;
}

.select2-custom .select2 .select2-selection:hover, .select2-custom .has-success .select2.select2-container .select2-selection:hover{
    border-color: #418CCF;
}

.select2-custom .select2-custom .select2.select2-container--focus .select2-selection, .select2-custom .has-success .select2.select2-container .select2-selection{
    border-color: #418CCF;
}

.select2-custom .has-success .select2.select2-container .select2-selection{
    border-color: #CBCED5;
}

.select2-custom .select2.select2-container--open.select2-container--below .select2-selection{
    border-color: #418CCF;
    border-bottom-color: #418CCF;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    position: relative;
    z-index: 10;

}

.select2-custom .select2.select2-container .select2-selection__rendered{
    font-size: 16px;
    line-height: 32px;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    position: relative;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #1B2C49;
}

.select2-custom .select2.select2-container .select2-selection__rendered[title*="Выберите"]{
    color: #ABB0B9;
}

.select2-custom .select2.select2-container .select2-selection__rendered[title*="Выберите"] + .select2-selection__arrow{
    color: #ABB0B9;
}

.select2-custom .select2 .select2-selection .select2-selection__arrow{
    color: #1B2C49;
    position: relative;
    border: none;
    height: 100%;
    font-size: 16px;
}

.select2-custom .select2 .select2-selection .select2-selection__arrow:after{
    content: '\e911';
    font-family: 'icon-font';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    transition: transform .25s;
    font-size: 0.8em;
}

.select2-custom .select2.select2-container--open .select2-selection__arrow:after{
    transform: translateY(-50%) rotate(180deg);
}

.select2-custom .select2 .select2-selection .select2-selection__arrow b{
    display: none;
}

.select2-custom .select2-container{
    transform: translateY(0);
}

.select2-container{
    transform: translateY(2px);
    z-index: 10;
}

.select2-container .select2-dropdown .select2-search .select2-search__field{
    height: auto;
    min-height: unset;
    border: 1px solid #CBCED5;
    box-shadow: none;
}

.select2-container .select2-results .select2-results__option[aria-selected=true]{
    background-color: #F4F4F4;
    color: #444;
}

.select2-container .select2-results .select2-results__option{
    width: 100%;
    word-break: break-word;
    display: flex;
    padding: 5px 10px;
    align-items: center;
    font-size: 16px;
    min-height: 40px;
    background-color: #fff;
    color: #444;
}

.select2-container .select2-results .select2-results__option.select2-results__option--highlighted{
    background-color: #00BEE7;
    color: #fff;
}

/*.select2-container.select2-container--open{*/
/*    z-index: 1;*/
/*}*/

.select2-container.select2-container--open  .select2-dropdown{
    box-shadow: 0 0 10px -6px;
    border: none;
    border-radius: 0 0 3px 3px;
}
.select2-container .select2-results__options::-webkit-scrollbar {
    width: 6px;
}
.select2-container .select2-results__options::-webkit-scrollbar-thumb {
    background: #898989;
    border-radius: 4px;
}
.select2-container .select2-results__options::-webkit-scrollbar-track {
    background: #e7e7e7;
}

.select2-container .select2-dropdown .select2-results .select2-results__options{
    height: 100%;
    max-height: 230px;
}

