@media screen and (min-width: 990px) {
    .banner-deposit__content{
        padding: 30px 20px;
    }
    .banner-deposit__bg.banner-deposit__bg--desc{
        display: block;
        right: 0;
        top: 0;
        height: 100%;
    }

    .banner-deposit__content{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: 75%;
    }

    .banner-deposit__content-in{
        margin-right: 50px;
    }

    .banner-deposit__bg.banner-deposit__bg--mob{
        display: none;
    }
    .banner-deposit__content-title{
        margin-bottom: 0;
        max-width: unset;
        font-size: 19px;
    }

    .btn.banner-deposit__content-btn{
        width: auto;
    }
}