.rating-site {
    display: flex;
    /*align-items: center;*/
    flex-direction: column;
}

.rating-site__title {
    margin-bottom: 5px;
    font-size: 14px;
}
.rating-site__stars-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    line-height: 1;
}

.rating-site__wrapper {
    display: flex;
    align-items: center;
}

.rating-site__wrapper + .rating-site__votes{
    margin-left: 0;
}

.rating-site__wrapper .rating-site__stars-item {
    margin-right: 5px;
}

.rating-site.rating-site--star-close .rating-site__wrapper .rating-site__stars-item {
    margin-right: 2px;
}

.rating-site__stars-item {
    position: relative;
    display: flex;
    color: #FFD058;
    margin: 0 1px;
}

.rating-site.rating-site--min .rating-site__stars-item{
    font-size: 14px;
}

.rating-site__stars-item {
    color: #ffe26f;
}

.rating-site.rating-site--alt-color .rating-site__stars-item {
    color:  #FFD058;
}

.rating-site.rating-site--alt-color .rating-site__rate {
    color:  #FFD058;
}

.rating-site__stars-item:before {
    font-family: "icon-font";
    content: '\e925';
}

.rating-site__stars-item:last-child {
    margin-right: 5px;
}

.rating-site__stars-item.active::before {
    content: '\e926';
}

.rating-site__votes {
    font-size: 12px;
    margin-left: 5px;
}

.rating-site__rate{
    font-size: 16px;
    color: #ffe26f;
    margin-right: 5px;
    font-weight: 600;
}

.rating-site__link{
    line-height: 1;
    margin-top: 5px;
}

.rating-site__rate {
    font-size: 16px;
    color: #FFD058;
    margin-right: 3px;
    font-weight: 600;
    line-height: 1;
}

.rating-site.rating-site--min .rating-site__stars-item {
    font-size: 14px;
}

.rating-site.rating-site--min .rating-site__wrapper .rating-site__stars-item{
    margin-right: 1px;
}

.rating-site.rating-site--min .rating-site__wrapper .rating-site__stars-item:last-of-type{
    margin-right: 0;
}
