.scroll-up{
    position: fixed;
    bottom: 85px;
    right: 5px;
    border: 1px solid #ECEEF2;
    background: white;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50%;
    z-index: 10;
}

.scroll-up i{
    color:  #418CCF;
    font-size: 17px;
    position: absolute;
    left: 52%;
    top: 47%;
    transform: translate(-50%, -50%);
}