.result-attention {
    background: #FFF3D6;
    border-radius: 5px;
    padding: 20px 15px;
    display: block;
}

.result-attention__icon-wrapp{
    margin-bottom: 10px;
}

.result-attention__icon{
    font-size: 38px;
    color: #FFD058;
}

.result-attention__text-main{
    font-weight: 900;
    font-size: 18px;
}

.attention .form-steps .form-steps__title {
    color: #333e50;
    font-size: 22px;
    text-align: left;
    margin-bottom: 0;
    font-weight: 700;
}

.form-steps__title {
    line-height: 26px;
}

.info-error {
    display: flex;
    flex-direction: column;

}

.attention .info-error {
    padding: 0;
    margin-bottom: 30px;
}
.info-error__left {
    margin-bottom: 5px;
}

.info-error__title {
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    padding: 5px 10px;
    background: #ffebec;
    border-radius: 3px;
}


.info-error__text {
    font-size: 16px;
    line-height: 19px;
    color: #ed2c35;
}

.info-request__left {
    padding-right: 20px;
}

.attention .request-loan__item>.pt-20 {
    padding-top: 0;
}
.result-attention .text-bold {
    font-weight: 700;
}

.info-request {
    display: flex;
    align-items: center;
}

.info-request__image {
    max-width: 60px;
}

@media screen and (min-width: 769px) {
    .attention .info-error {
        width: 100%;
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 769px) {
    .attention .nfo-error__left {
        width: auto;
        flex: none;
        max-width: 40%;
        padding-right: 0;
        margin-right: 20px;
    }
}

@media screen and (min-width: 769px) {
    .attention .info-error__right {
        flex-grow: 1;
        width: auto;
    }
}
