.menu-offer {
	background: #fff;
	box-shadow: 1px 0 6px rgba(197, 206, 208, 0.4);
	border-radius: 3px;
	padding: 20px;
	line-height: 1.25;
}

.menu-offer.menu-offer--without-shadow {
	box-shadow: none;
}

.menu-offer__img {
	margin-bottom: 10px;
}

.menu-offer__img img{
	max-width: 120px;
	max-height: 40px;
}

.menu-offer__title {
	font-size: 18px;
	margin-bottom: 25px;
	font-weight: 700;
}

.menu-offer__body {
	display: flex;
}

.menu-offer__info {
	margin-right: 35px;
	margin-bottom: 30px;
}

.menu-offer__info:last-child {
	margin-right: 0;
}

.menu-offer__info-text {
	font-size: 20px;
}

.menu-offer__info-subtext {
	font-size: 12px;
	color: #8892A4;
}

.menu-offer__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu-offer__footer>.btn {
	margin-right: 10px;
}