@media screen and (min-width: 768px) {
    .params-list__item {
        flex-direction: row;
    }

    .params-list__item-left {
        width: 30%;
        margin-right: 10%;
    }

    .params-list__item-right {
        width: 60%;
        margin-top: 0;
    }
}