@media screen and (min-width: 768px){
    .sending-banks{
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 30px;
        align-items: center;
    }

    .sending-banks__text{
        margin-top: 0;
        margin-right: 20px;
        max-width: 700px;
    }
}

@media screen and (min-width: 1024px){
    .sending-banks{
        padding: 30px 60px 30px 30px;
    }
}