
.feedback-block__title{
    font-size: 26px;
    color: #1B2C49;
    margin-bottom: 0px;
}
.feedback-block__subtitle{
    font-size: 14px;
    margin-top: 15px;
}
.feedback-block__terms{
    margin-top: 10px;
    font-size: 14px;
}

.feedback-block__textarea{
    height: 180px;
}

.feedback-block__stars{
    margin-top: 20px;
}

.feedback-block__terms-of-use{
    margin-top: 20px;
}

.feedback-block .form__action .btn{
    min-width: 180px;
}