
.list li {
    margin: 0 0 10px 0;
}

.list li:last-child {
    margin-bottom: 0;
}

.list li>ul {
    margin-top: 5px;
}

.list.list--circle li {
    position: relative;
    padding-left: 15px;
}

.list.list--circle li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 9px;
    width: 5px;
    height: 5px;
    background-color: #00BEE7;
    border-radius: 50%;
}

.list.list--circle li>.list.list--circle>li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 11px;
    width: 3px;
    height: 3px;
    background-color: #00BEE7;
    border-radius: 50%;
}

.list.list--check li {
    position: relative;
    padding-left: 20px;
}

.list.list--check li:before {
    content: "\e910";
    font-family: 'icon-font' !important;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #2AC769;
    font-size: 0.8em;
}

.list.list--error li {
    position: relative;
    padding-left: 20px;
}

.list.list--error li:before {
    content: "\e916";
    font-family: 'icon-font' !important;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #ABB0B9;
    font-size: 0.8em;
}

.list--dynamic-show {
    margin-bottom: 10px;
    height: auto!important;
}

.list.list--dynamic-show + .list.list--dynamic-hidden{
    position: relative;
    overflow: hidden;
    height: 0;
}