@media screen and (min-width: 480px) {
    ul.autoCompleteList.autoCompleteList--3-col li {
        padding: 5px 10px;
        display: inline-block;
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: 16px;
    }

    .tablet-visible {
        display: block!important;
    }
    .tablet-visible.tablet-visible--flex { display: flex!important; }
    .tablet-visible.tablet-visible--grid { display: grid!important; }

    .mob-visible{
        display: none!important;
    }

    .sidebar-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .sidebar-container.sidebar-container--alt .sidebar-container__sidebar{
        width: 380px;
        max-width: 32%;
        margin-top: 0;
    }
    .sidebar-container.sidebar-container--alt .sidebar-container__content{
        width: 710px;
        max-width: 65%;
    }

    .content.content--paddings {
        padding: 20px 15px;
    }

    .title-with-text {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }
    .title-with-text__item {
        margin-bottom: 0;
        margin-right: 20px;
    }
    .title-with-text__item:last-child {
        margin-right: 0;
        flex: none;
    }

    .title-with-text__item.title-with-text__item--v-center {
        display: flex;
        align-items: center;
    }

    /*visible-hide*/
    .tablet-visible {
        display: block!important;
    }
    .tablet-visible.tablet-visible--flex { display: flex!important; }
    .tablet-visible.tablet-visible--grid { display: grid!important; }

    .mob-visible{
        display: none!important;
    }
    /*visible-hide #end*/
}


@media screen and (min-width: 1024px) {
    .desk-visible {
        display: block!important;
    }
    .desk-visible.desk-visible--flex { display: flex!important; }
    .desk-visible.desk-visible--grid { display: grid!important; }

}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
    }

    ul.autoCompleteList.autoCompleteList--3-col li {
        width: 33%;
    }
}

@media screen and (max-width: 767px) {
    /*visible-hide*/
    .mob-hidden {
        display: none;
    }

    .mob-overflow-h{
        overflow: hidden;
    }
    /*visible-hide #end*/
}

