body {
    font-size: 14px;
    font-family: open sans, sans-serif;
    color: #1B2C49;
    line-height: 1.5;
    background-color: #F4F4F4;
    overflow-anchor: none;
}

body.blocked {
    position: relative;
    overflow: hidden;
}

.overflow-hidden {
    position: relative;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 100%;
    padding: 0 15px;
}

.container.container--no-paddings {
    padding: 0;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
}

.sidebar-container__sidebar{
    margin-top: 30px;
}

.content {
    border-radius: 3px;
    margin-bottom: 10px;
    background-color: #fff;
}

.content:last-child {
    margin-bottom: 0;
}

.content.content--bg-transparent {
    background-color: transparent;
}

.content.content--shadow {
    box-shadow: 0 1px 5px rgba(0,0,0,.15);
}

.content.content--paddings {
    padding: 15px 10px;
}

input.placeholder-grey::placeholder {
    color: #444;
}

input, textarea {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 44px;
    border-radius: 3px;
    border: 1px solid #CBCED5;
    font-size: 16px;
    padding: 10px;
    max-width: 100%;
    width: 100%;
    transition: border-color .25s, box-shadow .25s;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #418CCF;
    font-size: 16px;
    /*box-shadow: 0 0 1px 1px #00BEE7;*/
}

textarea {
    min-height: 130px;
    border: 1px solid #CBCED5;
    border-radius: 3px;
    padding: 10px;
    resize: vertical;
}

input::placeholder {
    color: #abb0b9
}

input.input--gray {
    border-color: #CBCED5;
}

.has-error input, .has-error textarea {
    border-color: #FB4E4E;
}

input.has-error, textarea.has-error{
    border-color: #FB4E4E;
}

.has-error .help-block{
    color: #FB4E4E;
    display: inline-block;
    font-size: 12px;
}

ol {
    margin: 0;
    padding: 0 0 0 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*colors*/
.error {
    color: #FB4E4E;
}


.warning {
    color: #FFD058;
}

.success {
    color: #2AC769;
}

.positive {
    color: #2AC769;
}

.negative {
    color: #FB4E4E;
}

.color--subtext {
    color: #7B818C;
}

.gray{
    color: #ABB0B9;
}
/*colors end*/

.none{
    display: none;
}

/*backgrounds*/
.bg-white {
    background-color: #fff;
}

.bg-gray {
    background: #F4F4F4;
}

.bg-blue {
    background-color: #418ccf;
}

.bg-error {
    background-color: #FB4E4E;
}

.bg-warning {
    background-color: #FFD058;
}

.bg-success {
    background-color: #2AC769;
}
/*backgrounds end*/


/*border*/
.border-b{
    border-bottom: 1px solid #ECEEF2;;
}
.border-t{
    border-top: 1px solid #ECEEF2;;
}
/*border end*/

.bb-1 {
    border-bottom: 1px solid #ECEEF2;
}
.bt-1 {
    border-top: 1px solid #ECEEF2;
}
.bl-l {
    border-left: 1px solid #ECEEF2;
}

.br-1 {
    border-right: 1px solid #ECEEF2;
}

.width-100{
    width: 100%;
}

img {
    display: inline-flex;
}

.tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #CBCED5;
    border-radius: 3px;
    color: #7B818C;
    font-size: 12px;
    cursor: pointer;
    transition: color .25s, border-color .25s;
    white-space: nowrap;
    line-height: 14px;
}

.tag.tag--no-hover {
    cursor: default;
}

.tag.tag--medium {
    font-size: 14px;
    line-height: 16px;
}

.tag:not(.tag--no-hover):hover,
.tag:not(.tag--no-hover):active {
    color: #00BEE7;
    border-color: #00BEE7;
}

.tag.active {
    background: #418CCF;
    border-color: #418CCF;
    color: white;
}

.tags-list {
    margin-bottom: -10px;
}

.tags-list .tag, .tags-list .tag-bg {
    margin-right: 10px;
    margin-bottom: 10px;
}

.tags-list .tag:last-child, .tags-list .tag-bg:last-child {
    margin-right: 0;
}

.tag-bg {
    display: inline-block;
    color: #7B818C;
    background: #F4F4F4;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 16px;
}

.tag-bg.tag-bg--yellow {
    background: #FFEDBD;
}

.tag-bg.tag-bg--green {
    background: #DEF9D7;
}

.tag.tag--icon .tag__icon {
    display: inline-block;
    margin-right: 10px;
}

.tag.tag--icon .tag__icon img {
    display: block;
}

.title-with-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.title-with-text h1,
.title-with-text h2,
.title-with-text h3,
.title-with-text h4,
.title-with-text h5 {
    margin-bottom: 0;
}

.title-with-text__item {
    margin-bottom: 5px;
}
.title-with-text__item:last-child {
    margin-bottom: 0;
}

.title-with-text__item--no-wrap {
    flex-shrink: 0;
}

.color--subtext {
   color: #7B818C;
}

.gray{
    color: #ABB0B9;
}

.tablet-visible, .desc-visible {
    display: none !important;
}

/*checkbox start*/
.checkbox-custom{
    position: relative;
    display: flex;
}

.checkbox-custom__label{
    position: relative;
    display: flex;
    cursor: pointer;
}

.checkbox-custom__default{
    display: none;
}

.checkbox-custom__new{
    border: 2px solid #ABB0B9;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    flex: none;
    margin-top: 3px;
    position: relative;
}

.checkbox-custom__text{
    font-size: 14px;
}

.checkbox-custom__default:checked+.checkbox-custom__new:before{
    content: "\e910";
    font-family: "icon-font" !important;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: #00BEE7;
    position: absolute;
    top: calc(50% - 3px);
    left: calc(50% + 3px);
    transform: translate(-50%, -50%);
    font-weight: 600;
    z-index: 2;
}

.checkbox-custom__default:checked+.checkbox-custom__new:after{
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    right: -4px;
    top: -3px;
    background: white;
    z-index: 1;
    border-radius: 50%;
}

.checkbox-custom.has-error .checkbox-custom__text {
    color: #FB4E4E;
}

/*checkbox end*/


.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.icon--currency {
    font-size: .8em;
    font-weight: inherit;
}


/*Autocomplete*/

ul.autoCompleteList:not(.autoCompleteList--like-selectric) {
    position: relative;
    z-index: 10;
    list-style: none;
    background: #fff;
    width: 100%;
    margin-top: -20px;
    padding: 20px 10px;
    display: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 5px 5px;
}

ul.autoCompleteList.autoCompleteList_mod {
    display: block;
}

ul.autoCompleteList li {
    padding: 5px 0;
    display: inline-block;
    width: 100%;

}

ul.autoCompleteList li a {
    color: #263042;
    white-space: pre-wrap;
    transition: color 0.25s ease;
    width: 100%;
    display: inline-block;
}

ul.autoCompleteList li a span.highlight {
    color: #418CCF;
    transition: color 0.25s ease;
}

ul.autoCompleteList li a:hover,
ul.autoCompleteList li a:hover span.highlight {
    color: #00BEE7;
}

ul.autoCompleteList.autoCompleteList--like-selectric{
    position: absolute;
    top: 100%;
    min-width: 180px;
    right: 0;
    left: 0;
    border-radius: 0 0 3px 3px;
    list-style: none;
    width: 100%;
    max-height: 280px;
    overflow-y: auto;
    /*border: 1px solid #CBCED5;*/
    padding: 0;
    background-color: #fff;
    z-index: 10;
    display: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

ul.autoCompleteList.autoCompleteList--like-selectric li{
    display: flex;
    align-items: center;
    font-size: 16px;
    min-height: 40px;
    width: 100%;
    padding: 5px 10px;
}

ul.autoCompleteList.autoCompleteList--like-selectric li a{
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    min-height: 40px;
    width: calc(100% + 20px);
    padding: 5px 10px;
    background-color: #fff;
    transition: none;
    margin: -5px -10px;
}

ul.autoCompleteList.autoCompleteList--like-selectric li a:hover{
    background-color: #00BEE7;
    color: #fff;
}

ul.autoCompleteList.autoCompleteList--max-height{
    max-height: 200px;
    overflow: auto;
}

ul.autoCompleteList.autoCompleteList--max-height::-webkit-scrollbar {
    width: 6px;
}
ul.autoCompleteList.autoCompleteList--max-height::-webkit-scrollbar-thumb {
    background: #898989;
    border-radius: 4px;
}
ul.autoCompleteList.autoCompleteList--max-height::-webkit-scrollbar-track {
    background: #e7e7e7;
}

/*Autocomplete end*/

.mobile-minus-margin{
    margin-left: -15px;
    margin-right: -15px;
}

/*visible-hide*/
.none{
    display: none;
}

.tablet-visible, .desc-visible {
    display: none!important;
}

/*visible-hide #end*/

/*nelidgen-modal -- пока стили как на старой версии, на всякий случай. ХЗ как они там будут потом*/
.reklam-modal[id*="nelidgen"]{
    text-align: center!important;

}

.reklam-modal[id*="nelidgen"]:after,
.reklam-modal[id*="nelidgen"]:before{
    content: none!important;
}
.reklam-modal[id*="nelidgen"] .modal-content{
    padding: 0;
    background: transparent;
}
.reklam-modal[id*="nelidgen"] .modal-dialog{
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: unset;
}
.reklam-modal[id*="nelidgen"]  .modal-body{
    padding: 0;
    position: relative;
}
.reklam-modal[id*="nelidgen"] .modal-body img{
    max-width: 100%;
}
.reklam-modal[id*="nelidgen"] .modal-body img{
    max-width: 100%;
}

.reklam-modal[id*="nelidgen"] .reklam-modal__close-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    box-shadow: none;
    text-shadow: none;
    background: rgba(0,0,0,.3);
    border: 0;
    outline: 0;
    z-index: 100;
    border-radius: 50%;
    transition: background-color .25s;
}

.reklam-modal[id*="nelidgen"] .reklam-modal__close-btn:before, .reklam-modal[id*="nelidgen"] .reklam-modal__close-btn:after{
    position: absolute;
    left: 16px;
    top: 7px;
    content: " ";
    height: 17px;
    width: 1px;
    background: #fff;
}

.reklam-modal[id*="nelidgen"] .reklam-modal__close-btn:before{
    transform: rotate(45deg);
}
.reklam-modal[id*="nelidgen"] .reklam-modal__close-btn:after{
    transform: rotate(-45deg);
}
.reklam-modal[id*="nelidgen"] .popup-link__1{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
/*nelidgen-modal end*/