h1, .h1 {
    font-size: 26px;
}

h2, .h2 {
    font-size: 22px;
}

h3, .h3  {
    font-size: 20px;
}

h4, .h4  {
    font-size: 18px;
}

h5, .h5  {
    font-size: 16px;
}

h1,h2,h3,h4,h5,
.h1,.h2,.h3,.h4,.h5{
    display: block;
    font-weight: 700;
    line-height: 1.2;
}

h1,h2,h3,h4,h5 {
    margin: 0 0 15px 0;
}

p {
    line-height: 1.5;
    margin: 0 0 10px;
}

p:last-child {
    margin-bottom: 0;
}

.text {
    line-height: 1.5;
}

b,strong,.accent{
    font-weight: 700;
}

i {
    font-style: italic;
}

.text-small {
    font-size: 12px;
}

.text-extrasmall {
    font-size: 11px;
}



