@media screen and (max-width: 768px) {
    .xxx-request-loan--sending-banks .xxx-request-loan__item {
        padding: 20px 0;
    }

    .xxx-request-loan--sending-banks .xxx-request-loan__center {
        padding-bottom: 0;
    }

    .xxx-request-loan--sending-banks .bank-offers-form {
        padding: 0 15px;
    }
}