@media screen and (min-width: 768px) {

    .declaration-icon-min-block.declaration-icon-min-block--two .declaration-icon-min-block__list {
        grid-template-columns: repeat(2, 1fr);
    }

    .declaration-icon-min-block.declaration-icon-min-block--three .declaration-icon-min-block__list {
        grid-template-columns: repeat(3, 1fr);
    }

    .declaration-icon-min-block__item {
        padding: 30px;
    }

    .declaration-icon-min-block__item-title {
        font-size: 20px;
    }
}
