@media screen and (min-width: 768px) {
    .products-count-tile-wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
        overflow: visible;
    }

    .products-count-tile {
        grid-template-columns: repeat(5,1fr) 2fr;
        grid-template-rows: 1fr;
        min-height: 100px;
    }

    .products-count-tile-section {
        position: relative;
        overflow: visible;
    }

    .products-count-tile-section:before {
        content: '';
        height: 50px;
        width: 100%;
        background-color: #fff;
        display: block;
    }

    .products-count-tile__item {
        align-self: center;
    }

    .products-count-tile__item:last-child {
        grid-column: unset;
        grid-row: unset;
        position: relative;
        align-self: end;
    }

    .products-count-tile__item:last-child .products-count-tile__item-img {
        bottom: -45px;
        left: unset;
        right: 0;
        height: auto;
    }

    .products-count-tile__item:last-child .products-count-tile__item-img img {
        height: 220px;
        width: auto;
    }
}

@media screen and (min-width: 1024px) {

    .products-count-tile {
        grid-template-columns: repeat(6,1fr);
    }
    .products-count-tile__item:last-child .products-count-tile__item-img {
        bottom: -70px;
    }
    .products-count-tile__item:last-child .products-count-tile__item-img img {
        height: 260px;
        width: auto;
    }
}