@media screen and (min-width: 768px) {
    .table__body-td-title{
        display: none;
    }
}
@media screen and (max-width: 767px) {

    .table.table--mob-2-col .table__head.table__head--border-color + .table__body .table__body-tr:first-of-type{
        border-top: 1px solid #00BEE7;
    }

    .table.table--mob-2-col .table__head{
        display: none;
    }
    .table.table--mob-2-col .table__body-tr{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .table__body-td.table__body-td--mob-full{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .table.table--mob-2-col .table__body-td:not(.table__body-td--mob-full){
        width: 50%;
    }
    .table.table--mob-2-col .table__body-td{
        padding: 0 0 10px 0;
    }

    .table.table--mob-2-col .table__body-td:nth-of-type(2n){
        text-align: right;
        padding-left: 5px;
    }

    .table.table--mob-2-col .table__body-td:nth-of-type(2n + 1){
        text-align: left;
        padding-right: 5px;
    }

    .table.table--mob-2-col .table__body-tr{
        padding: 20px 0 10px 0;
    }
}