@media screen and (min-width: 768px){
    .short-currency-table__link {
        display: flex;
        font-size: 12px;
        margin-top: 5px;
    }

    .short-currency-table .float-convert {
        position: relative;
    }

    .short-currency-table__link a:not(:hover) {
        color: #7B818C;
    }

    .short-currency-table__footer {
        margin-top: 15px;
       justify-content: flex-start;
    }

    .short-currency-table__footer-item {
        margin-right: 50px;
    }

    .short-currency-table__footer-item a{
        font-size: 14px;
        display: flex;
        align-items: center;
    }


    .short-currency-table__footer-item:last-child {
        margin-right: 0;
    }

    .short-currency-table__table table thead th:last-child,
    .short-currency-table__table table tbody td:last-child {
        padding-right: 0;
        text-align: right;
    }
}

@media screen and (max-width: 480px) {
    .short-currency-table__table .tab-content{
        overflow: auto;
        width: 100%;
    }

    .short-currency-table{
        overflow: auto;
        width: 100%;
    }
    .short-currency-table__cell{
        font-size: 13px;
    }
    .short-currency-table__cell.short-currency-table__cell--accent{
        font-size: 13px;
    }
    .short-currency-table__table table .table-exchange-small__head td{
        font-size: 13px;
    }

    .short-currency-table__table table thead th:last-of-type, .short-currency-table__table table tbody td:last-of-type{
        padding-right: 0;
    }

    .short-currency-table__table table thead th, .short-currency-table__table table tbody td{
        padding: 10px 3px;
    }
}
