@media screen and (min-width: 768px){
    .filter__fields-container {
        grid-template-columns: 1fr 1fr 1fr 168px;
    }

    .filter__fields-container.filter__fields-container--credits {
        grid-template-columns: 1fr 1fr 1fr 168px;
    }
    .filter__fields-container.filter__fields-container--credit-cards {
        grid-template-columns: 1fr 150px 1fr 168px;
    }

    .filter__fields-container.filter__fields-container--zaimy {
        grid-template-columns: repeat(2, 1fr);

    }

    .filter__fields-container.filter__fields-container--zaimy {
        grid-template-columns: 1fr 150px 150px 1fr 168px;
        grid-template-areas: "fst sec thrd four five";
    }

    .filter__fields-container.filter__fields-container--deposits {
        grid-template-columns: 1fr 1fr 1fr 168px;
        grid-template-areas: "fst sec thrd four";
    }

    .filter__fields-container {
        row-gap: 0;
    }

    .filter__field.filter__btn {
        margin-left: 20px;
    }
    .filter__field.filter__btn .btn {
        width: 100%;
        height: 100%;
    }

    .filter__field:not(.filter__btn) {
        border-radius: 0 0 0 0;
        border-right-color: transparent;
    }

    .filter__field:first-of-type {
        border-radius: 3px 0 0 3px;
    }

    .filter__field:nth-last-child(2):not(.filter__btn) {
        border-radius: 0 3px 3px 0;
        border-right: 1px solid #ECEEF2;
    }

    .filter__field.filter__btn {
        border: none;
    }

    .filter__field-label {
        z-index: 10000;
    }

    .filter__fields-container.filter__fields-container--zaimy .filter__field:nth-child(2) {
        border-right-color: transparent;
        border-radius: 0;
    }

    .filter__fields-container.filter__fields-container--zaimy .filter__field:nth-child(3) {
        border-left-color: #ECEEF2;
        border-radius: 0;
    }

    /*.filter__fields-container.filter__fields-container--deposits .filter__field:nth-child(3) {*/
    /*    border-right-color: transparent;*/
    /*    border-radius: 0;*/
    /*}*/

    .filter__fields-container.filter__fields-container--deposits .filter__field:nth-child(3) {
        border-left-color: #ECEEF2;
        border-radius: 0 3px 3px 0;
    }
}

