
.page-top__title{
    font-size: 26px;
    margin-bottom: 0;
}

.page-top__subtitle{
    margin-top: 10px;
    font-size: 14px;
}

.page-top .breadcrumb{
    padding-top: 0;
}

.page-top.page-top--flex-content .page-top__content{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.page-top__flex-line{
    display: flex;
    flex-direction: column;
}

.page-top__flex-line.page-top__flex-line--reverse{
    flex-direction: column-reverse;
}

.page-top__line-item{
    margin-bottom: 15px;
}

.page-top__line-item:last-of-type{
    margin-bottom: 0;
}

.page-top__line-item.page-top__line-item--max-width{
    max-width: 700px;
}

.page-top__flex-line.page-top__flex-line--reverse .page-top__line-item{
    margin-top: 15px;
    margin-bottom: 0;
}

.page-top__flex-line.page-top__flex-line--reverse .page-top__line-item:last-of-type{
    margin-top: 0;

}

.page-top.page-top--product .page-top__advantages{
    margin-top: 15px;
}