@media screen and (min-width: 768px) {
    .page-top__title{
        font-size: 36px;
    }
    .page-top__title.page-top__title--min{
        font-size: 31px;
    }

    .page-top.page-top--flex-content .page-top__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .page-top.page-top--flex-content .page-top__content-left{
        margin-right: 5%;
    }

    .page-top__flex-line{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .page-top__flex-line.page-top__flex-line--reverse{
        flex-direction: row;
    }

    .page-top__line-item{
        margin-bottom: 0;
        margin-right: 20px;
    }
    .page-top__line-item:last-of-type{
        margin-right: 0;
    }

    .page-top__flex-line.page-top__flex-line--reverse .page-top__line-item{
        margin-top: 0;

    }

    .page-top.page-top--product .page-top__advantages{
        margin-top: 40px;
    }
    .page-top.page-top--product .page-top__flex-line{
        align-items: flex-start;
    }
}