.xxx-request-loan .form-group.has-error .xxx-g-input {
    border: 1px solid #ED2C35;
    background: #fff;
    border-bottom: 1px solid #ED2C35 !important;
}

.xxx-request-loan .form-group.has-error .xxx-g-input-label {
    color: #ED2C35;
}

.xxx-request-loan .form-group.has-error .xxx-g-select-label {
    color: #ED2C35;
    background: #ffffff;
}

.xxx-request-loan .form-group.has-error .selectric {
    border-color: #ED2C35;
    background: #fff;
}

.form-group__inside {
    position: relative;
}

.form-group__inside select {
    height: 44px;
    padding: 12px;
    background-color: white;
    border: 1px solid #c4c4c4;
    font-size: 16px;
    border-radius: 3px;
    width: 100%;
}

.form-group.has-success .xxx-g-input {
    position: relative;
}

.form-group.has-success .xxx-g-input-wrapp {
    position: relative;
}

.form-group.has-success .form-group__inside {
    position: relative;
}

.form-group.has-success .selectric::after {
    content: none;
}

.form-group.verify-btn-block {
    position: absolute;
    left: 200px;
}

.xxx-g-input-group__title-mini {
    font-family: open sans, sans-serif;
    font-weight: 700;
}

.form-group {
    margin-bottom: 0;
}


.form-group.has-error .help-block {
    display: block;
}