
.socials {
    display: flex;
}

.socials--center {
    justify-content: center;
}

.socials__item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #1B2C49;
    margin-right: 20px;
    transition: background-color .25s;
}

.socials__item:before {
    font-family: 'icon-font';
    color: #fff;
    font-size: 18px;
}


.socials__item.socials__item--dz:hover {
    background-color: #20222d;
}

.socials__item.socials__item--ok:hover {
    background-color: #ee821f;
}

.socials__item.socials__item--tw:hover {
    background-color: #1da1f2;
}

.socials__item.socials__item--instagram:hover {
    background-color: #c71585;
}

.socials__item.socials__item--vk:hover {
    background-color: #4a76a8;
}

.socials__item.socials__item--fb:hover {
    background-color: #4267b2;
}

.socials__item.socials__item--gl:hover {
    background-color: #28B446;
}

.socials__item.socials__item--ya:hover {
    background-color: #f80e16;
}

.socials__item.socials__item--mailru:hover {
    background-color: #6495ED;
}


.socials__item.socials__item--dz:before {
    content: '\e934';
}

.socials__item.socials__item--ok:before {
    content: '\e938';
}

.socials__item.socials__item--vk:before {
    content: '\e93a';
}

.socials__item.socials__item--tw:before {
    content: '\e939';
}
.socials__item.socials__item--fb:before {
    content: '\e937';
}

.socials__item.socials__item--gl:before {
    content: '\e93e';
}

.socials__item.socials__item--ya:before {
    content: '\e950';
}

.socials__item.socials__item--mailru:before {
    content: '\e951';
}

.socials__item.socials__item--instagram:before {
    content: '\e952';
}

.socials__item:last-child {
    margin-right: 0;
}