.complete-select{
    position: relative;
}

.complete-select__input:focus + .complete-select__list{
    display: block;
}

.complete-select__list{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    min-width: 220px;
    display: none;
    z-index: 10;
    font-size: 12px;
    border-radius: 0 0 3px 3px;
    border: 1px solid #c4c4c4;
    box-shadow: 0 0 10px -6px;
}

.complete-select__list-wrap{
    border-radius: 0 0 3px 3px;
    max-height: 280px;
    overflow-x: auto;
    background: #F8F8F8;
    border: 1px solid #c4c4c4;
    box-shadow: 0 0 10px -6px;
}



.complete-select li {
    display: flex;
    padding: 5px 10px;
    align-items: center;
    font-size: 16px;
    min-height: 40px;
    background-color: #fff;
}

.complete-select li:hover {
    background-color: #00BEE7;
    color: #fff;
}