.fixed-btn{
    position: fixed;
    bottom: -200px;
    left: 0;
    width: 100%;
    padding: 15px;
    box-shadow: 0px 0px 8px rgba(37, 37, 37, 0.2);
    background: white;
    transition: bottom 0.3s ease;
}

.fixed-btn.active{
    /*transform: translateY(200%);*/
    /*transition: transform 0.3s ease;*/
    bottom: 0;
    transition: bottom 0.3s ease;
}