a,
.fake-link {
	text-decoration: none;
	display: inline-block;
	transition: color .25s;
	color: #418ccf;
	cursor: pointer;
}

a:hover,
a:active,
a:focus,
.fake-link:hover,
.fake-link:active,
.fake-link:focus {
	color: #00bee7;
}

.link-arrow {
	position: relative;
	display: inline-flex;
	align-items: center;
}

.link-arrow:before {
	font-family: "icon-font";
	font-size: .6em;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
}

.link-arrow--left:before {
	content: "\e912";
	margin-right: 5px;
}

.link-arrow--right:before {
	content: "\e913";
	margin-left: 5px;
}

.link-dashed {
	border-bottom: 1px dashed;
}

.js-link, .js_link_blank {
	cursor: pointer;
}