@media screen and (max-width: 870px) {
    .xxx-bgr-grey .xxx-container-medium {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 740px) {

    .xxx-header-request {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .xxx-header-request-mob {
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .xxx-header-request__logo img {
        max-width: 100%;
    }

    .xxx-header-request__logo {
        width: 30%;
    }

    .xxx-timer-block {
        white-space: normal;
        bottom: -40px;
    }

    .xxx-request-loan__item {
        padding: 0;
    }

    .xxx-request-loan {
        padding-left: 15px;
        padding-right: 15px;
    }

    .xxx-request-loan__text {
        margin-bottom: 0;
        padding-bottom: 20px;
    }

    body {
        min-width: unset;
    }

}

@media screen and (max-width: 768px) {
    .xxx-request-loan__center {
        padding-left: 15px;
        padding-right: 15px;
    }

    .xxx-request-loan__center h1 {
        margin-bottom: 10px;
    }

    .xxx-request-loan__center, .xxx-request-loan {
        border-radius: 0;
    }
}

@media screen and (max-width: 600px) {
    .xxx-header-request__logo img {
        max-height: 30px;
    }
}

@media screen and (max-width: 400px) {
    .xxx-header-request__logo {
        width: 100px;
    }
}
