.xxx-form-steps__title {
    font-family: open sans, sans-serif;
    font-weight: 700;
}

.xxx-form-steps__item.active .xxx-form-steps__line {
    background: #418ccf;
}

.xxx-form-steps__item.visited .xxx-form-steps__line {
    background: #418ccf;
    opacity: 0.5;
}