.modal.modal--pts .modal-content{
    padding: 20px;
    background: white;
}

.modal.modal--pts .modal__title{
    font-size: 18px;
    font-weight: 700;
}

.modal.modal--pts .modal-body{
    margin-top: 20px;
    padding: 0;
}

.modal.modal--pts .close{
    color: #ADB4BF;
    font-size: 15px;
    position: relative;
    width: 20px;
    height: 20px;
    min-width: auto;
    top: -5px;
    right: -10px;
}

.modal.modal--pts .close:hover i{
    background-color: #c2c3cb;
    transition: 0.3s ease;
}

.modal.modal--pts .close i::after{
    content: '';
    width: 15px;
    height: 1px;
    position: absolute;
    top: 6px;
    left: 0;
    background-color: #ADB4BF;
    transform: rotate(-45deg);
}
.modal.modal--pts .close i::before{
    content: '';
    width: 15px;
    height: 1px;
    position: absolute;
    top: 6px;
    left: 0;
    background-color: #ADB4BF;
    transform: rotate(45deg);
}


.modal.modal--pts .modal__list{
    list-style: decimal;
    padding-left: 20px;
    font-size: 16px;
    margin-bottom: 0;
}

.modal.modal--pts .modal__list > li{
    margin-bottom: 15px;
}
.modal.modal--pts .modal__list > li:last-of-type{
    margin-bottom: 0;
}

.modal.modal--pts .modal__list > li > ul{
    margin-top: 10px;
    list-style: none;
    column-count: 1;
    padding-left: 0;
}

.modal.modal--pts .modal__list > li > ul > li{
    margin-bottom: 10px;
    position: relative;
    padding-left: 15px;
}

.modal.modal--pts .modal__list > li > ul > li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 9px;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: #FF7D2F;
}

.modal.modal--pts .modal__bottom{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal.modal--pts .modal__btn{
    margin-bottom: 20px;
    background-color: #EF9700;
    border-radius: 3px;
    color: white;
    text-align: center;
    padding: 10px;
    -webkit-box-shadow: 0 5px 10px rgba(239, 151, 35, 0.3);
    box-shadow: 0 5px 10px rgba(239, 151, 35, 0.3);
    transition: border-color .25s, background-color .25s;
}

.modal.modal--pts .modal__btn:hover, .modal.modal--pts .modal__btn:focus {
    background-color: #eda442;
}