@media screen and (min-width: 769px) {
    .bank-nav{
        min-width: 280px;
    }
    .bank-nav__icon {
        font-size: 16px;
    }

    .bank-nav__title-wrap{
        padding: 15px 20px;
    }

    img.bank-nav__title{
        max-height: 35px;
        max-width: unset;
    }

    .bank-nav__license{
        display: none;
    }
    .bank-nav__dropdown-title-wrap{
        padding: 15px 20px;
    }

    .bank-nav__dropdown-item:after{
        right: 20px;
    }


}