@media (min-width: 970px) {

    .new-nav__item.acv .new-nav__link {
        box-shadow: inset 0 -3px 0 #EF9700;
    }

    .new-nav__link{
        padding: 20px 8px;
        font-size: 14px;
    }
    .new-header--white .main-menu-link.new-nav__item:after{
        font-size: 0.4em;
        left: -2px;
    }
}

@media (min-width: 1200px) {
    .new-nav__link{
        padding: 20px 10px;
        font-size: 16px;
    }
    .new-header--white .main-menu-link.new-nav__item:after{
        font-size: 0.6em;
        left: -4px;
    }
}


@media screen and (max-width: 970px) {
    .new-header__nav-btn {
        display: flex;
    }
    .new-header--white .main-menu-link.new-nav__item:after {
        content: '\e913';
        position: absolute;
        left: unset;
    }
    .new-header--white .main-menu-link.new-nav__item:hover:after {
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 768px) {
    .new-header__settings {
        display: none;
    }
}