
@media screen and (min-width: 1200px) {
    .reviews-item__info {
        max-width: 50%;
    }
}

@media screen and (min-width: 769px) {
    .reviews-item{
        padding: 20px;
        max-width: 100%;
        margin: 0;
    }

    .reviews-item__top{
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 15px;
        width: 95%;
    }

    .reviews-item__rate-name{
        padding: 0;
        border: none;
        flex-grow: 1;
        margin-left: 15px;

    }
    .reviews-item__info{
        padding: 0;
    }
    .reviews-item__info-desc span:first-of-type{
        margin-right: 15px;
    }
    .reviews-item__content{
        padding: 0;
        margin-bottom: 15px;
    }
    .reviews-item__title{
        margin-bottom: 10px;
    }
    .reviews-item__bottom{
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .reviews-item__bottom.reviews-item__bottom--start{
        justify-content: flex-start;
        margin-bottom: -10px;
    }

    .reviews-item__bottom.reviews-item__bottom--start .tag{
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .reviews-item__bottom.reviews-item__bottom--start .tag:last-of-type{
        margin-right: 0;
    }
    .reviews-item__rate{
        margin-top: 5px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
    .reviews-item__info{
        flex-grow: 2;
        width: 100%;
    }
    .reviews-item__rate-name{
        justify-content: flex-end;
    }
}