.reviews-preview__title{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 800;
}

.reviews-preview__list.active{
    overflow: hidden;
}


.reviews-preview__list.reviews-preview__list--hidden{
    display: none;
}

.reviews-preview__item{
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ECEEF2;
}

.reviews-preview__item:last-of-type{
    border-bottom: 1px solid #ECEEF2;
}

.reviews-preview__item-title{
    text-align: left;
    display: flex;
    align-items: center;
    margin-right: 5px;
    text-decoration: none;
    color: #1B2C49;
}
a.reviews-preview__item-title{
    color: #1B2C49;
}


.reviews-preview__item-title:hover{
    color: #1B2C49;
}

.reviews-preview__item-text{
    font-size: 16px;
}

.reviews-preview__item-img{
    margin-right: 5px;
    width: 16px;
    display: inline-block;
}

.reviews-preview__item-img img{
    max-width: 100%;
    display: block;

}

.reviews-preview__item-rate{
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.reviews-preview .rating-site{
    padding: 0;
}

.reviews-preview .rating-site__stars-item {
    margin: 0 1px;
    font-size: 14px;
}

.reviews-preview .rating-site > span{
    color: #ffe26f;
    font-weight: bold;
    font-size: 16px;
    margin-right: 3px;
    line-height: 1;
}

.reviews-preview__item-link{
    margin-top: 3px;
    font-size: 12px;
}

