@media screen and (min-width: 991px) {
    .section {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .section.section--small {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .section.section--small-static {
        padding-top: 15px;
        padding-bottom: 15px;
    }

}