.btn {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 40px;
	padding: 7px 10px;
	border-radius: 3px;
	background-color: transparent;
	border: 1px solid #7b818c;
	transition: border-color .25s, background-color .25s;
	cursor: pointer;
	width: 100%;
	font-size: 16px;
	color: #263042;
}

.btn--medium {
	min-height: 44px;
}

.btn--min-width {
	min-width: 180px;
}

.btn--margin-t {
	margin-top: 15px;
}

.btn:hover,
.btn:focus {
	border-color: #263042;
	outline: none;
	color: #263042;
}

.btn:active,
.btn:active:focus {
	border-color: #1b2c49;
	outline: none;
	color: #263042;
}

.btn.disabled,
.btn[disabled] {
	background-color: transparent;
	color: #cbced5;
	border-color: #cbced5;
	pointer-events: none;
}

a.btn {
	color: inherit;
}

.btn.btn--orange {
	background-color: #ff7d2f;
	border-color: #ff7d2f;
	color: #fff;
}

.btn.btn--orange:hover,
.btn.btn--orange:focus {
	background-color: #f8a817;
	border-color: #f8a817;
	color: #fff;
}

.btn.btn--orange:active,
.btn.btn--orange:active:focus {
	background-color: #ff7d2f;
	border-color: #1b2c49;
	color: #fff;
}

.btn.btn--orange.disabled,
.btn.btn--orange[disabled] {
	background-color: #cbced5;
	border-color: #cbced5;
	pointer-events: none;
	color: #fff;
}

.btn.btn--transparent-blue {
	border-color: #418ccf;
	color: #418ccf;
}

.btn.btn--transparent-blue:hover,
.btn.btn--transparent-blue:focus {
	border-color: #418ccf;
	background-color: #418ccf;
	color: #fff;
}

.btn.btn--transparent-blue:active,
.btn.btn--transparent-blue:active:focus {
	border-color: #377bb9;
	background-color: #377bb9;
	color: #fff;
}

.btn.btn--transparent-blue.disabled,
.btn.btn--transparent-blue[disabled] {
	background-color: #cbced5;
	color: #fff;
	border-color: #cbced5;
	pointer-events: none;
}

.btn-wrap {
	position: relative;
}

.btn-wrap.btn-wrap--center {
	text-align: center;
}