@media screen and (min-width: 768px) {
    /**/
    .grid--t-1 {
        grid-template-columns: 1fr;
    }

    .grid--t-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid--t-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid--t-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid--t-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    .grid--t-6 {
        grid-template-columns: repeat(6, 1fr);
    }

    .grid--t-7 {
        grid-template-columns: repeat(7, 1fr);
    }

    .grid--t-8 {
        grid-template-columns: repeat(8, 1fr);
    }

    .grid--t-9 {
        grid-template-columns: repeat(9, 1fr);
    }

    .grid--t-10 {
        grid-template-columns: repeat(10, 1fr);
    }

    .grid--t-11 {
        grid-template-columns: repeat(11, 1fr);
    }

    .grid--t-12 {
        grid-template-columns: repeat(12, 1fr);
    }

}

@media screen and (min-width: 1200px) {
    /*desk*/
    .grid--d-1 {
        grid-template-columns: 1fr;
    }

    .grid--d-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid--d-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid--d-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid--d-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    .grid--d-6 {
        grid-template-columns: repeat(6, 1fr);
    }

    .grid--d-7 {
        grid-template-columns: repeat(7, 1fr);
    }

    .grid--d-8 {
        grid-template-columns: repeat(8, 1fr);
    }

    .grid--d-9 {
        grid-template-columns: repeat(9, 1fr);
    }

    .grid--d-10 {
        grid-template-columns: repeat(10, 1fr);
    }

    .grid--d-11 {
        grid-template-columns: repeat(11, 1fr);
    }

    .grid--d-12 {
        grid-template-columns: repeat(12, 1fr);
    }

    .grid {
        display: grid;
        row-gap: 50px;
        column-gap: 50px;
    }

    .grid--d-gap-20 {
        row-gap: 20px;
        column-gap: 20px;
    }
}


